<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vyapar-saarthi</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
    <div class="main-container">
        <!-- LEFT-SIDE -->
        <div class="left">
            <div class="tag">Vyapar-saarthi for business</div>
            <h1 class="h1">Vyapar-saarthi Recommendation System</h1>
            <p class="descs">Welcome to our AI powered recommendation system vyapar-saarthi for local businesses to help shopkeepers to boost their engagement and sales .</p>
            <ul>
                <li>It gives cross suggestion like tea->milk , bread ,biscuits</li>
                <li>It is location aware as well as weather aware</li>
                <li>It is easy to use every local businessman can use </li>
            </ul>
        </div>
        <!-- RIGHT-SIDE -->
         <div class="login-box">
            <div class="tab">
                <button class="login">Login</button>
                <button class="active">Create Account</button>
            </div>

            <input type="username" placeholder="username">
            <input type="password" placeholder="password">

            <button class ="login-btn">Dashboard Login</button>
         </div>
    </div>
    
    
</body>
</html>
